@import url('./BaseStyles.module.css'); /* Import the BaseStyles CSS Module */

.buttonStyleSmall {
  composes: buttonStyle from './BaseStyles.module.css';

  padding: 5px 10px;
  font-size: 0.9em;
}

/* src/components/TimerDisplay.module.css */

/* ... (existing styles: .listItem, .listItemRunning, .listItemOverrun, .listItemCurrent, .buttonStyle, .buttonStyleSmall) ... */

.baseTimer {
  display: flex; /* Enable Flexbox for timer row */
  flex-wrap: wrap;

  border: 1px solid #eee;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  align-items: center; /* Vertically align items in the row */
}

.nameColumn,
.expectedTimeColumn,
.elapsedTimeColumn,
.buttonsColumn {
  padding: 8px; /* Add some padding to columns */
  /* border: 1px solid red; */
  /* You can adjust flex-grow and flex-basis to control column widths */
}
.expectedTimeColumn,
.elapsedTimeColumn {
  flex-grow: auto;
  grid-template-rows: 2;
}
.expectedTimeColumn input {
  width: 3em;
  font-size: 230%;
  padding: 0;
  margin: 0;
}

.buttonsColumn {
  display: grid; /* Enable CSS Grid Layout for buttons column */
  grid-template-columns: repeat(
    2,
    1fr
  ); /* 3 columns for now, adjust if needed - we'll make it 2x4 or similar*/
  grid-template-rows: auto auto; /* Two rows, auto height */
}

.nameColumn {
  flex: 40%;
}
.timeTitle {
  text-decoration: underline;
}
.timeDisplay {
  font-size: 250%;
  font-family: 'Courier New', Courier, monospace;
  text-align: center; /* Vertically align items in the row */
}

.currentTimer {
  border: 3px solid black;
}

.waiting {
  background-color: #f9f9f9;
  --st: #f9f9f9;
}

.run {
  background-color: #ddffdd;
  --st: #ddffdd;
}

.overrun {
  background-color: #ffdddd;
  --st: #ffdddd;
}

@keyframes example {
  from {
    background-image:
    /* On "top" */ repeating-linear-gradient(
      45deg,
      transparent,
      transparent 10px,
      #eee 10px,
      #eee 20px
    );
  }
  to {
    background-image:
    /* On "top" */ repeating-linear-gradient(
      45deg,
      #eee,
      #eee 10px,
      transparent 10px,
      transparent 20px
    );
  }
}

/* https://codepen.io/t_afif/pen/xxaOXQr */
.running {
  --s: 30px; /* control the size */
  --g: 10px; /* control the gap */
  --c: #eee;

  --_l: #0000 calc(33% - 0.866 * var(--g)),
    var(--c) calc(33.2% - 0.866 * var(--g)) 33%, #0000 34%;
  background: repeating-linear-gradient(var(--c) 0 var(--g), #0000 0 50%) 0
      calc(0.866 * var(--s) - var(--g) / 2),
    conic-gradient(from -150deg at var(--g) 50%, var(--c) 120deg, #0000 0),
    linear-gradient(-120deg, var(--_l)),
    linear-gradient(-60deg, var(--_l)) var(--st); /* second color */
  background-size: var(--s) calc(3.466 * var(--s));
  animation: p infinite 1s linear;
  animation-direction: reverse;
}
@keyframes p {
  to {
    background-position-x: calc(-1 * var(--s));
  }
}
